.home-container{
    margin-top: 180px;
    margin-left: 120px;
}

.home-title{
    font-size: 45px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
    margin-right: 740px;
}

.home-description{
    position: static;
    padding-top: 25px;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
    margin-right: 710px;
   
}
.btn-container{
    margin-top:48px ;
    margin-bottom: 265px;
}
.email-info{
    color: #1890FF;
}