button{
    position: static;
    width: 101px;
    height: 40px;
    padding: 8px 18px;
    font-size: 16px;
    line-height: 24px;
    border: 2px solid #1890FF;;
    background: #1890FF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}