@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-weight: 700;
}

body {
    background: #E5E5E5;
}
button{
    cursor: pointer;
    position: static;
    width: 110px;
    height: 40px;
    padding: 8px 18px;
    font-size: 16px;
    line-height: 24px;
    border: 2px solid #1890FF;;
    background: #1890FF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}